body {
    font-family: Sour Gummy;
    color: rgb(255, 250, 184);
}

.container {
    background-color: rgb(202, 18, 18);
    padding: 15px;
    border-radius: 10px;
}

/*Lines 14 to 40 are from the w3schools website because I used div and links to make the dropdown menu*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(202, 18, 18);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn {
    background-color: rgb(239, 87, 17);
    border-color: rgb(239, 87, 17);
}

.btn:hover {
    background-color: rgb(200, 84, 0);
    border-color: rgb(200, 84, 0);
}